@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
#loader {
    text-align: center;
}

.error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron {
    min-height: 350px;
    position: relative;
}

label {
    margin-top: 15px;
}

img {
    padding: 10%;
}